@model IEnumerable<Employee>

@{
    ViewBag.Title = "Employee List";
}

<div class="card-deck">
    @foreach (var employee in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3>@employee.Name</h3>
            </div>
                <img class="card-img-top m-auto" src="~/images/noimage-dark.png" />
            <div class="card-footer text-center">

                @*Link Technique 1: html tag only *@
                <a href="/home/details/@employee.Id" class="btn btn-primary" target="_blank">View1</a>

                @* Link Technique 2: It provides the entire anchor element. *@
                @Html.ActionLink("View2", "details", "home", new { id = employee.Id }, new { @class = "btn-primary btn", target = "_blank"})

                @* Link Technique 3: It provides only the href element, which is the string. *@
                <a href="@Url.Action("details", "home", new { id = employee.Id })" class="btn btn-primary" target="_blank">View3</a>

                @* Link Technique 4: Tag helpers (prefered). *@
                <a asp-controller="home" asp-action="details" asp-route-id="@employee.Id" class="btn btn-primary" target="_blank">View4</a>

                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>